@charset "utf-8";

body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    background-color: white;
    margin-top: 1px;
    padding-top: 2px;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 35px;
}

form {
    background-color: orange;
    width: 400px;
    padding: 50px 65px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.40);
}

label {
    font-size: 25px;
    color: black;
}

input {
    display: block;
    width: 380px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 15px;
}

p#confirmation {
    text-align: center;
    font-size: 15px;
    color: black;
    width: 380px;
    padding: 5px 15px;
    border-radius: 5px;
}

button {
    display: block;
    width: 380px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: black;
    margin-left: 15px;
    font-size: 20px;
}

input#registeracc {
    margin-left: 15px;
}

input[type="button"] {
    font-size: 20px;
}