:root {
  --black-0: #000000;
  --black-3: #1a1a1b;
  --black-6: #343436;

  --red: #ff4500;
  --gray-light: #d7dadc;

  --green: #00a268;
  --green-light: #46d160;

  --pink-light: #e255a1;
  --blue-light: #0079d3;

  --radius-5: 5px;
}
